#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app{
  height: 100%;
  background-color: #abb8c3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: aliceblue;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: 'Neucha', cursive;
  font-family: 'Roboto', sans-serif;
}

.button {
  border-style: none;
  border-radius: 25px;
  padding: 3%;
  background-color: #abb8c3;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}